.decoration-teal {
    color: rgb(0, 254, 233) !important;
}

.decoration-orange {
    color: orange !important;
}

.decoration-purple {
    color: purple !important;
}

.decoration-grey {
    color: grey !important;
}
