/* /Users/beardobot/projects/odoo15/custom/deepu_sale/static/src/css/decoration.css */
.o_list_view .decoration-out {
    background-color: #ffcc00 !important;
    font-weight: bold;
}

.o_list_view .decoration-clearance {
    background-color: #33cc33 !important;
    font-style: italic;
}
